span, div {
	font-family: "Source Sans Pro", sans-serif;
}

#best-fit-header-text {
	font-size: 30px;
	/*margin-left: auto;
	margin-right: auto;*/
	/*text-align: center;*/
	margin-top: 20px;
	margin-bottom: 10px;
	/*width: 800px;*/
}

#best-fit-description-text {
	/*text-align: center;*/
	margin-top: 20px;
	margin-bottom: 20px;
	/*margin-left: 100px;*/
	/*width: 600px;*/
	/*padding-left: 150px;*/
	/*padding-right: 150px;*/
}

#best-fit-cargo-display-region {
	display: inline-block;
	width: 300px;
	height: 400px;
	/*background-color: red;*/
	/*opacity: 0.5;*/
	margin: 5px;
	/*border: 1px solid;*/
}

#best-fit-current-cargo-box {
	
	position: relative;
	/*margin-left: auto;
	margin-right: 320px;*/
	left: 250px;

	margin-top: 20px;
	width: 0px;
	height: 25px;
	/*box-shadow: 5px;

	line-height: 45px;*/
	/*background-color: red;*/
	color: black;
	border: 3px solid;
	z-index: 30;
}

#best-fit-cargo-outline {
	position: relative;
	/*margin-left: auto;
	margin-right: 320px;*/
	left: 250px;

	
	width: 500px;
	height: 25px;
	/*box-shadow: 5px;

	line-height: 45px;*/
	/*background-color: red;*/
	color: green;
	border: 3px dashed;
}

.cargo-box {
	margin-top: 20px;
	width: 60px;
	height: 50px;
	box-shadow: 5px;

	line-height: 45px;
	background-color: gray;
	color: black;
}

.display-header {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 24px;
	color: black;
	text-align: center;
}

#best-fit-cargo-display-header {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 24px;
	color: black;
	text-align: center;
}

#best-fit-current-cargo-size {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	font-size: 24px;
	color: black;
	text-align: center;
}



#best-fit-current-car-region {
	width: 500px;
	height: 400px;
	/*background-color: blue;
	opacity: 0.5;*/
	/*border: 1px solid;*/
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}


#best-fit-train-display-region {
	margin-top: 30px;
}

#best-fit-train-display {
	margin-left: 20px;
	/*width: 700px;*/
	/*height: 150px;*/
}

#best-fit-car-display {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 15px;
	
}

#best-fit-car-display-header {
	font-size: 24px;
}

#best-fit-current-train {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	height: 200px;
	/*background-color: red;*/
}

#best-fit-car-capacity {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#best-fit-message-box {
	/*background-color: lightyellow;*/
	white-space: nowrap;
	display: inline;
	/*margin-top: 15px;*/
	/*padding: 3px;*/
	/*display: inline-block;*/
	font-size: 16px;
	padding: 3px 0;
	font-style: italic;
	display: none;
	/*width: 100px;*/
	/*visibility: hidden;*/
	/*opacity: 1;*/
}

#best-fit-message-container {
	margin-top: 15px;
	height: 22px;
}



#best-fit-click-counter {
	margin-top: 10px;
	margin-left: 10px;
}

#best-fit-util-counter {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
}

button {
	margin: 5px;
	color: black;

}

#best-fit-arrow {
	position: relative;
	width: 30px;
	left: 0px;
	/*height: 30px;*/
}

#best-fit-game-container {
	width: 675px;
	margin: 0 auto;
	margin-top: 20px;
	/*background-color: #42eef4;*/
	border: 2px solid;
	padding-bottom: 20px;
	padding-top: 20px;
	/*visibility: hidden;*/
}

#best-fit-load-button {
	margin-top: 20px;
	/*background-color: lightblue;*/
	color: black;
	margin-bottom: 30px;
}

#best-fit-yes-button {
	color: black;
	/*background-color: lightblue;*/
	/*animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);*/
}

#best-fit-no-button {
	color: black;
	/*background-color: lightblue;*/
	/*animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);*/
}


#best-fit-end-text {
	width: 600px;
	/*margin-left: 100px;*/a
	margin-top: 30px;
	margin-bottom: 30px;
	height: 400px;
	font-size: 20px;
	visibility: hidden;
}


#best-fit-yes-area {
	display: inline-block;
	
}

#best-fit-no-area {
	display: inline-block;
}

/*.pulsing {
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	animation-name: pulse;
	animation-duration: 1.25s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.66,0,0,1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}*/
