.text {
  width: 800px;
  text-align: left;
}

h2 {
  width: 800px;
  text-align: left;
}

p {
  font-size: 18px;
  width: 800px;
  text-align: left;
}

#figure-head {
  margin-top: 0px;
  margin-left: 0px;
  width:100px;
  height: 500px;
}

#figure-cart2 {
  margin-top: 40px;
  margin-left: 0px;
  width:100px;
  height: 500px;
}

#figure-cart2copy {
  margin-top: 40px;
  margin-left: 0px;
  width: 100px;
  height: 500px;
}

#names {
  margin-top: 60px;
}

.desc-text {
  font-size: 18px;
}
