span, div {
	font-family: "Source Sans Pro", sans-serif;
}

#first-fit-header-text {
	font-size: 24px;
	/*margin-left: auto;
	margin-right: auto;*/
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 800px;
}

#first-fit-cargo-display-region {
	display: inline-block;
	width: 300px;
	height: 400px;
	/*background-color: red;*/
	/*opacity: 0.5;*/
	margin: 5px;
	border: 1px solid;
}

#first-fit-current-cargo-box {
	margin-top: 20px;
	width: 0px;
	height: 50px;
	box-shadow: 5px;

	line-height: 45px;
	background-color: red;
	color: black;
}

.cargo-box {
	margin-top: 20px;
	width: 60px;
	height: 50px;
	box-shadow: 5px;

	line-height: 45px;
	background-color: gray;
	color: black;
}

.display-header {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 20px;
	color: black;
	text-align: center;
}

#first-fit-cargo-display-header {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 20px;
	color: black;
	text-align: center;
}

#first-fit-current-cargo-size {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	font-size: 20px;
	color: black;
	text-align: center;
}



#first-fit-current-car-region {
	width: 500px;
	height: 400px;
	/*background-color: blue;
	opacity: 0.5;*/
	border: 1px solid;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}

#first-fit-train-display-region {
	width: 815px;
	height: 150px;
	/*background-color: green;
	opacity: 0.5;*/
	border: 1px solid;
	margin: 5px;
}

#first-fit-train-display {
	margin-left: 20px;
	width: 700px;
}

#first-fit-car-display {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 15px;
	
}

#first-fit-current-train {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	height: 200px;
	/*background-color: red;*/
}

#first-fit-car-capacity {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}



#first-fit-load-button {
	margin-top: 20px;
}

#first-fit-click-counter {
	margin-top: 10px;
	margin-left: 10px;
}

#first-fit-util-counter {
	margin-top: 10px;
	margin-left: 10px;
}

button {
	margin: 5px;
}



